@charset "UTF-8";

/* Forms */
label { cursor: text; }

label[for] { cursor: pointer; }

input, select, textarea { margin: 0; vertical-align: baseline; *vertical-align: middle; border-width: 1px; }

button, input { line-height: normal; overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

button, select { text-transform: none; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }
input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input, textarea { width: 100%; }

.eF_line { line-height: 24px; }

.eF, #container { /*** Initial Form Setup ***/ /*** Appearance ***/ /* Valid / Invalid */ /* Custom Checkboxes and Radios	 */ }
.eF, #container { position: relative; }
.eF label, .eF input, .eF textarea, .eF select, .eF option, .eF button, .eF .button, #container label, #container input, #container textarea, #container select, #container option, #container button, #container .button { display: block; }
.eF optgroup, #container optgroup { font-weight: normal; font-style: normal; border: none; padding: 3px; color: #aaa; }
.eF option, #container option { background: white; color: #c2bca6; padding: 3px; margin-top: 3px; border: none; }
.eF label, #container label { color: #615e53; line-height: 24px; clear: both; display: inline-block; vertical-align: top; }
.eF .fieldset, .eF fieldset, #container .fieldset, #container fieldset { position: relative; }
.eF .fieldset label:first-child, .eF .fieldset label:first-child, .eF fieldset label:first-child, .eF fieldset label:first-child, #container .fieldset label:first-child, #container .fieldset label:first-child, #container fieldset label:first-child, #container fieldset label:first-child { margin-top: 0; }
.eF .fieldset label.lft, .eF fieldset label.lft, #container .fieldset label.lft, #container fieldset label.lft { padding-right: 12px; }
.eF .fieldset.inline input, .eF .fieldset.inline select, .eF fieldset.inline input, .eF fieldset.inline select, #container .fieldset.inline input, #container .fieldset.inline select, #container fieldset.inline input, #container fieldset.inline select { display: inline-block; }
.eF .fieldset.inline label, .eF fieldset.inline label, #container .fieldset.inline label, #container fieldset.inline label { line-height: 24px; }
.eF .prompt, .eF input, .eF select, .eF textarea, .eF .eF_input, #container .prompt, #container input, #container select, #container textarea, #container .eF_input { height: 36px; padding: 3px 0; line-height: 21px; }
.eF input, .eF select, #container input, #container select { text-indent: 6px; }
.eF input:not([type='submit']), .eF textarea, .eF select, .eF .eF_input, #container input:not([type='submit']), #container textarea, #container select, #container .eF_input { border: 0; border-bottom: 1px dashed #bbb; }
.eF textarea, #container textarea { height: 120px; padding: 0; font-family: Helvetica, Arial, sans-serif; }
.eF textarea.autoheight, #container textarea.autoheight { height: 4em; min-height: 4em; max-height: 20em; }
.eF select, #container select { max-width: 100%; }
.eF select option:after, #container select option:after { content: '\0000a0 \0000a0 \0000a0'; /* Adds space between value and menu button where padding is ignored */ }
.eF > .eF_overlay, #container > .eF_overlay { display: none; }
.eF .eF.loading, #container .eF.loading { overflow: hidden !important; }
.eF .eF.loading > .eF_overlay, #container .eF.loading > .eF_overlay { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2); z-index: 100; }
.eF .eF.loading .submit:before, #container .eF.loading .submit:before { margin-right: 5px; }
.eF .eF_input > textarea, #container .eF_input > textarea { padding: 0; margin: 0; height: auto; width: 100%; line-height: inherit; font-family: inherit; font-size: inherit; border: 0; background: transparent; }
.eF .eF_input, #container .eF_input { line-height: 24px; }
.eF button, .eF .button, .eF input[type=submit], .eF input[type=button], .eF .submit, #container button, #container .button, #container input[type=submit], #container input[type=button], #container .submit { display: inline-block; background: #f2ebcf; color: white; border-width: 0; transition: all ease-in-out 0.2s; margin: 0; line-height: 36px !important; height: 36px; border-radius: 3px; cursor: pointer !important; text-decoration: none; padding: 0 12px; font: inherit; }
.eF button[disabled], .eF button[disabled]:hover, .eF .button[disabled], .eF .button[disabled]:hover, .eF input[type=submit][disabled], .eF input[type=submit][disabled]:hover, .eF input[type=button][disabled], .eF input[type=button][disabled]:hover, .eF .submit[disabled], .eF .submit[disabled]:hover, #container button[disabled], #container button[disabled]:hover, #container .button[disabled], #container .button[disabled]:hover, #container input[type=submit][disabled], #container input[type=submit][disabled]:hover, #container input[type=button][disabled], #container input[type=button][disabled]:hover, #container .submit[disabled], #container .submit[disabled]:hover { background: none; color: #797668; box-shadow: none; cursor: default !important; }
.eF button + button, .eF .button + button, .eF input[type=submit] + button, .eF input[type=button] + button, .eF .submit + button, #container button + button, #container .button + button, #container input[type=submit] + button, #container input[type=button] + button, #container .submit + button { margin-left: 0; }
.eF button:hover, .eF .button:hover, .eF input[type=submit]:hover, .eF input[type=button]:hover, .eF .submit:hover, #container button:hover, #container .button:hover, #container input[type=submit]:hover, #container input[type=button]:hover, #container .submit:hover { background: #f6f1dd; color: white; }
.eF *[disabled], .eF *[disabled]:hover, .eF *[readonly], .eF *[readonly]:hover, #container *[disabled], #container *[disabled]:hover, #container *[readonly], #container *[readonly]:hover { cursor: default; }
.eF label.inactive, #container label.inactive { color: #777; cursor: default; }
.eF input:hover, .eF textarea:hover, .eF select:hover, .eF .eF_input:hover, #container input:hover, #container textarea:hover, #container select:hover, #container .eF_input:hover { color: black; }
.eF input:focus, .eF textarea:focus, .eF select:focus, .eF .eF_input.focus, #container input:focus, #container textarea:focus, #container select:focus, #container .eF_input.focus { border-color: #f2ebcf; }
.eF input[data-valid="0"], #container input[data-valid="0"] { outline: none; box-shadow: none; }
.eF input.seen[data-valid="0"], .eF select[required].seen[data-valid="0"], .eF textarea[required].seen[data-valid="0"], #container input.seen[data-valid="0"], #container select[required].seen[data-valid="0"], #container textarea[required].seen[data-valid="0"] { border-color: #B21A4A; }
.eF input[required].seen[data-valid="1"], .eF select[required].seen[data-valid="1"], .eF textarea[required].seen[data-valid="1"], #container input[required].seen[data-valid="1"], #container select[required].seen[data-valid="1"], #container textarea[required].seen[data-valid="1"] { border-color: #73c67b; }
.eF.btn_bar .icon-spam, .eF.btn_bar .icon-checkmark-circle, #container.btn_bar .icon-spam, #container.btn_bar .icon-checkmark-circle { display: none; }
.eF[data-valid="1"] .btn_bar .icon-checkmark-circle, #container[data-valid="1"] .btn_bar .icon-checkmark-circle { display: inline; }
.eF[data-valid="0"] .btn_bar .icon-spam, #container[data-valid="0"] .btn_bar .icon-spam { display: inline; }
.eF[data-valid="0"] input[type=submit], .eF[data-valid="0"] button, #container[data-valid="0"] input[type=submit], #container[data-valid="0"] button { cursor: not-allowed; }
.eF[data-valid="0"] input[type=submit]:hover, .eF[data-valid="0"] button:hover, #container[data-valid="0"] input[type=submit]:hover, #container[data-valid="0"] button:hover { background-color: #B21A4A; color: white; }
.eF[data-valid="1"] input[type=submit]:hover, .eF[data-valid="1"] button:hover, #container[data-valid="1"] input[type=submit]:hover, #container[data-valid="1"] button:hover { background-color: #73c67b; color: white; }
.eF label.required:after, .eF input[type="checkbox"][required] + label:after, #container label.required:after, #container input[type="checkbox"][required] + label:after { content: '*'; color: #B21A4A; position: relative; left: 2px; }
.eF label.checkbox, .eF label.radio, #container label.checkbox, #container label.radio { line-height: 24px; }
.eF input[type="checkbox"], .eF input[type="radio"], #container input[type="checkbox"], #container input[type="radio"] { position: absolute; clip: rect(0, 0, 0, 0); width: 24px; margin: 0; }
.eF input[type="checkbox"] + label, .eF input[type="radio"] + label, #container input[type="checkbox"] + label, #container input[type="radio"] + label { margin-top: 0; line-height: 24px; height: 24px; font-weight: normal; clear: none; color: #333; }
.eF input[type="checkbox"] + label:before, .eF input[type="radio"] + label:before, #container input[type="checkbox"] + label:before, #container input[type="radio"] + label:before { margin-right: 6px; padding: 0; color: #f2ebcf; vertical-align: middle; }
.eF input[type="checkbox"]:checked + label:before, .eF input[type="radio"]:checked + label:before, #container input[type="checkbox"]:checked + label:before, #container input[type="radio"]:checked + label:before { color: #f2ebcf; }
.eF input[type=radio] + label:before, #container input[type=radio] + label:before { content: ""; }
.eF input[type=radio] + label:hover:before, #container input[type=radio] + label:hover:before { content: ""; }
.eF input[type=radio]:checked + label:before, #container input[type=radio]:checked + label:before { content: ""; }
.eF input[type=checkbox] + label:before, #container input[type=checkbox] + label:before { content: ""; }
.eF input[type=checkbox] + label:hover:before, #container input[type=checkbox] + label:hover:before { content: ""; }
.eF input[type=checkbox]:checked + label:before, #container input[type=checkbox]:checked + label:before { content: ""; }
.eF input[type="checkbox"].seen[data-valid="0"] + label, .eF input[type="radio"].seen[data-valid="0"] + label, #container input[type="checkbox"].seen[data-valid="0"] + label, #container input[type="radio"].seen[data-valid="0"] + label { color: #c00; }

/* Compact Form Styles */
.form_hint { color: #888 !important; }

.eformulate-tip { position: fixed; }

.eF [data-valid="0"] + .eformulate-tip { margin-top: -2px; line-height: 1em; padding: 6px 7px; }

/* rules added by briley */
.eF .ef-invalid { border-color: #B21A4A !important; }

.ef-invalid label { color: #B21A4A; }

#eF_fieldError { background: #fff; border: 1px solid #c00; position: fixed; z-index: 10001; padding: 0 6px; font-size: 11px; border-radius: 6px; box-shadow: 1px 2px 3px #888; }

#eF_fieldError b { position: absolute; left: 50%; top: -4px; width: 7px; height: 7px; transform: rotate(45deg); border: 1px solid #B21A4A; border-width: 1px 0 0 1px; background: #fff; }
