@charset "UTF-8";

/* Forms */
form { max-width: 480px; }

label { display: inline-block; line-height: 24px; }

input, select, textarea { line-height: 22px; }

fieldset { margin-bottom: 24px; }

input, textarea { width: 100%; }



.wufoo { position: relative; }


.wufoo .fieldset label:first-child, .wufoo .fieldset label:first-child, .wufoo fieldset label:first-child, .wufoo fieldset label:first-child { margin-top: 0; }
.wufoo .fieldset label.lft, .wufoo fieldset label.lft { padding-right: 12px; }
.wufoo .fieldset.inline input, .wufoo .fieldset.inline select, .wufoo fieldset.inline input, .wufoo fieldset.inline select { display: inline-block; }
.wufoo .fieldset.inline label, .wufoo fieldset.inline label { line-height: 24px; }
.wufoo input, .wufoo select, .wufoo textarea { padding: 3px 0; line-height: 21px; }
.wufoo input, .wufoo select { text-indent: 6px; }
.wufoo input:not([type='submit']), .wufoo textarea, .wufoo select { border: 0; border-bottom: 1px dashed #bbb; }
.wufoo textarea { padding: 0; font-family: Helvetica, Arial, sans-serif; }
.wufoo select { max-width: 100%; }
.wufoo select option:after { content: '\0000a0 \0000a0 \0000a0'; /* Adds space between value and menu button where padding is ignored */ }

.wufoo button, .wufoo .button, .wufoo input[type=submit], .wufoo input[type=button] { display: inline-block; background: #f90; color: #f2ebcf; border-width: 0; transition: all ease-in-out 0.2s; margin: 0; line-height: 36px !important; height: 36px; border-radius: 3px; cursor: pointer !important; text-decoration: none; padding: 0 12px; font: inherit; }
.wufoo button[disabled], .wufoo button[disabled]:hover, .wufoo .button[disabled], .wufoo .button[disabled]:hover, .wufoo input[type=submit][disabled], .wufoo input[type=submit][disabled]:hover, .wufoo input[type=button][disabled], .wufoo input[type=button][disabled]:hover, .wufoo .submit[disabled], .wufoo .submit[disabled]:hover { background: none; color: #888; box-shadow: none; cursor: default !important; }
.wufoo button + button, .wufoo .button + button, .wufoo input[type=submit] + button, .wufoo input[type=button] + button, .wufoo .submit + button { margin-left: 0; }
.wufoo button:hover, .wufoo .button:hover, .wufoo input[type=submit]:hover, .wufoo input[type=button]:hover, .wufoo .submit:hover { background: #f6f1dd; color: white; }
.wufoo *[disabled], .wufoo *[disabled]:hover, .wufoo *[readonly], .wufoo *[readonly]:hover { cursor: default; }
.wufoo label.inactive { color: #777; cursor: default; }
.wufoo input:hover, .wufoo textarea:hover, .wufoo select:hover { color: black; }
.wufoo input:focus, .wufoo textarea:focus, .wufoo select:focus { border-color: #f2ebcf; }


.wufoo label.required:after, .wufoo input[type="checkbox"][required] + label:after { content: '*'; color: #B21A4A; position: relative; left: 2px; }
.wufoo label.checkbox, .wufoo label.radio { line-height: 24px; }

.wufoo input[type="checkbox"], .wufoo input[type="radio"] { height: auto; }


/* Material Design Shadows */
.z-1, .wufoo button, .wufoo .button, .wufoo input[type=submit], .wufoo input[type=button], .wufoo .submit, .all-z-1 > * { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
.z-2, .wufoo button:hover, .wufoo .button:hover, .wufoo input[type=submit]:hover, .wufoo input[type=button]:hover, .wufoo .submit:hover, .all-z-2 > * { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
.z-3, .all-z-3 > * { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
.z-4, .all-z-4 > * { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
.z-5, .all-z-5 > * { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
.z-2:hover, .wufoo button:hover, .wufoo .button:hover, .wufoo input[type=submit]:hover, .wufoo input[type=button]:hover, .wufoo .submit:hover { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28); }

#logo { display: none; }
#container { background:none; box-shadow: none; }
html { background: none!important; }

