@charset "UTF-8";

/* CSS Reset */
@viewport , @-webkit-viewport, @-moz-viewport, @-ms-viewport, @-o-viewport { width: device-width; }
* { margin: 0; padding: 0; border: 0 solid #999; outline: 0; vertical-align: baseline; box-sizing: border-box; background-repeat: no-repeat; }

html, body { min-height: 100%; height: 100%; }

hr { box-sizing: content-box; height: 0; }

/* HTML5 / Media */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

img { -ms-interpolation-mode: bicubic; vertical-align: middle; max-width: 100%; }

svg:not(:root) { overflow: hidden; }

/* Tables */
table { width: 100%; border-collapse: collapse; border-spacing: 0; }

th { text-align: left; }

td { vertical-align: top; }

/* Forms */
label { cursor: text; }

label[for] { cursor: pointer; }

input, select, textarea { margin: 0; vertical-align: baseline; *vertical-align: middle; border-width: 1px; }

button, input { line-height: normal; overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

button, select { text-transform: none; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }
input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Apply global styles to tags after the reset has been applied */
/* Font sizes */
.fsize-2 { font-size: 12.64198px; }

.fsize-1, h6, .wufoo label, .wufoo textarea { font-size: 14.22222px; }

.fsize, h5 { font-size: 16px; }

.fsize1, h4 { font-size: 18px; }

.fsize2, h3 { font-size: 20.25px; }

.fsize3, h2 { font-size: 22.78125px; }

.fsize4 { font-size: 25.62891px; line-height: 36px; margin-bottom: 12px; }

.fsize5, h1 { font-size: 28.83252px; line-height: 36px; margin-bottom: 12px; }

/* Typography */
h1, h2, h3, h4, h5, h6 { font-weight: 700; font-style: normal; color: black; }

p, ul, ol, blockquote, table, dl, address, pre, code, tt { margin: 0 0 24px; }

li { margin: 0; }

ol, li ol, li ul, dd, .copy ul { margin-left: 12px; }

/* Lists */
ul { list-style-type: disc; }

ol { list-style-type: decimal; }

ol ol { list-style: upper-alpha; }

ol ol ol { list-style: lower-roman; }

ol ol ol ol { list-style: lower-alpha; }

dl dt { font-weight: bold; }

.copy > *:last-child, blockquote > *:last-child { margin-bottom: 0; padding-bottom: 0; }

hr { display: block; height: 1px; border: 0; background: #888; margin: 24px 0 23px; padding: 0; }

q, blockquote header { color: black; font-style: italic; position: relative; quotes: none; }
q:before, blockquote header:before { content: '\201C'; }
q:after, blockquote header:after { content: '\201D'; }
q q:before, blockquote header q:before, q blockquote header:before, blockquote q header:before, blockquote header header:before { content: '\2018'; }
q q:after, blockquote header q:after, q blockquote header:after, blockquote q header:after, blockquote header header:after { content: '\2019'; }

blockquote { padding: 24px; }
aside blockquote { padding: 36px 0; }
blockquote header { color: #f2ebcf; font-weight: 300; line-height: 1.25em; font-size: 1.125rem; text-align: left; }
blockquote header:before, blockquote header:after { color: #f2ebcf; font-size: 6rem; font-family: "Broadsheet W01", "Times New Roman", Times, serif; line-height: 0; position: relative; }
blockquote header:before { top: 0.25em; left: -0.25em; }
blockquote header:after { top: 0.5em; left: 0em; }
blockquote footer { padding-top: 24px; text-align: right; font-weight: 600; color: #f2ebcf; }

.copy ul li { list-style: none; position: relative; padding-left: 12px; }
.copy ul li:before { content: ''; background: #8eb848; width: 0.425em; height: 0.425em; border-radius: 0.425em; line-height: 0; position: relative; top: 0em; left: -12px; display: inline-block; }

/* Media */
figure.lft, .copy .lft { margin: 0 1.375rem 1.125rem 0; clear: left; }

figure.rgt, .copy .rgt { margin: 0 0 1.125rem 1.375rem; clear: right; }

img { max-width: 100%; max-height: 100%; }

figure img { display: block; }

/* Links */
a { background-color: transparent; color: inherit; }

a:hover, a *:hover { text-decoration: none; color: inherit; cursor: pointer; }

menu a, .menu a, .drop_menu a, .block { display: block; }

.tags a { display: inline-block; }

a.no_link, a.no_link:hover { text-decoration: none; color: inherit; }

a.sho_link { text-decoration: none; color: inherit; }

a.sho_link:hover { text-decoration: underline; color: inherit; }

a.arw_link { text-decoration: none; }

a.arw_link:after { content: ''; display: inline-block; position: relative; left: 6px; top: -1px; border-style: solid; border-width: 0.25em; border-color: transparent; width: 0; height: 0; border-left-color: inherit; }

/* Tables */
table { width: 100%; margin-top: 0; }

table tr > * { vertical-align: top; text-align: left; }

th { font-weight: bold; text-align: left; }

/* Additional Tags */
b, strong, dfn { font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

abbr[title] { border-bottom: 1px dotted; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

pre, code, tt { font-size: 1em; font-family: 'Andale Mono', 'Lucida Console', monospace; white-space: pre; }

em, i, dfn, cite, tfoot { font-style: italic; }

abbr, acronym { border-bottom: 1px dotted; }

del { text-decoration: line-through; }

/* Forms */
label { display: inline-block; line-height: 24px; }

input, select, textarea { line-height: 22px; }

fieldset { margin-bottom: 24px; }



input, textarea { width: 100%; }


.wufoo { /*** Initial Form Setup ***/ /*** Appearance ***/ /* Valid / Invalid */ /* Custom Checkboxes and Radios	 */ }
.wufoo { position: relative; }
.wufoo label, .wufoo input, .wufoo textarea, .wufoo select, .wufoo option, .wufoo button, .wufoo .button { display: block; }
.wufoo optgroup { font-weight: normal; font-style: normal; border: none; padding: 3px; color: #aaa; }
.wufoo option { background: white; color: #c2bca6; padding: 3px; margin-top: 3px; border: none; }
.wufoo label { color: #615e53; line-height: 24px; clear: both; display: inline-block; vertical-align: top; }
.wufoo .fieldset, .wufoo fieldset { position: relative; }
.wufoo .fieldset label:first-child, .wufoo .fieldset label:first-child, .wufoo fieldset label:first-child, .wufoo fieldset label:first-child { margin-top: 0; }
.wufoo .fieldset label.lft, .wufoo fieldset label.lft { padding-right: 12px; }
.wufoo .fieldset.inline input, .wufoo .fieldset.inline select, .wufoo fieldset.inline input, .wufoo fieldset.inline select { display: inline-block; }
.wufoo .fieldset.inline label, .wufoo fieldset.inline label { line-height: 24px; }
.wufoo .prompt, .wufoo input, .wufoo select, .wufoo textarea, .wufoo .eF_input { height: 36px; padding: 3px 0; line-height: 21px; }
.wufoo input, .wufoo select { text-indent: 6px; }
.wufoo input:not([type='submit']), .wufoo textarea, .wufoo select, .wufoo .eF_input { border: 0; border-bottom: 1px dashed #bbb; }
.wufoo textarea { height: 120px; padding: 0; font-family: Helvetica, Arial, sans-serif; }
.wufoo textarea.autoheight { height: 4em; min-height: 4em; max-height: 20em; }
.wufoo select { max-width: 100%; }
.wufoo select option:after { content: '\0000a0 \0000a0 \0000a0'; /* Adds space between value and menu button where padding is ignored */ }

.wufoo button, .wufoo .button, .wufoo input[type=submit], .wufoo input[type=button], .wufoo .submit { display: inline-block; background: #f2ebcf; color: white; border-width: 0; transition: all ease-in-out 0.2s; margin: 0; line-height: 36px !important; height: 36px; border-radius: 3px; cursor: pointer !important; text-decoration: none; padding: 0 12px; font: inherit; }
.wufoo button[disabled], .wufoo button[disabled]:hover, .wufoo .button[disabled], .wufoo .button[disabled]:hover, .wufoo input[type=submit][disabled], .wufoo input[type=submit][disabled]:hover, .wufoo input[type=button][disabled], .wufoo input[type=button][disabled]:hover, .wufoo .submit[disabled], .wufoo .submit[disabled]:hover { background: none; color: #797668; box-shadow: none; cursor: default !important; }
.wufoo button + button, .wufoo .button + button, .wufoo input[type=submit] + button, .wufoo input[type=button] + button, .wufoo .submit + button { margin-left: 0; }
.wufoo button:hover, .wufoo .button:hover, .wufoo input[type=submit]:hover, .wufoo input[type=button]:hover, .wufoo .submit:hover { background: #f6f1dd; color: white; }
.wufoo *[disabled], .wufoo *[disabled]:hover, .wufoo *[readonly], .wufoo *[readonly]:hover { cursor: default; }
.wufoo label.inactive { color: #777; cursor: default; }
.wufoo input:hover, .wufoo textarea:hover, .wufoo select:hover, .wufoo .eF_input:hover { color: black; }
.wufoo input:focus, .wufoo textarea:focus, .wufoo select:focus, .wufoo .eF_input.focus { border-color: #f2ebcf; }


.wufoo label.required:after, .wufoo input[type="checkbox"][required] + label:after { content: '*'; color: #B21A4A; position: relative; left: 2px; }
.wufoo label.checkbox, .wufoo label.radio { line-height: 24px; }

.wufoo input[type="checkbox"], .wufoo input[type="radio"] { height: auto; }


/* Material Design Shadows */
.z-1, .wufoo button, .wufoo .button, .wufoo input[type=submit], .wufoo input[type=button], .wufoo .submit, .all-z-1 > * { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.z-2, .wufoo button:hover, .wufoo .button:hover, .wufoo input[type=submit]:hover, .wufoo input[type=button]:hover, .wufoo .submit:hover, .all-z-2 > * { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.z-3, .all-z-3 > * { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.z-4, .all-z-4 > * { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.z-5, .all-z-5 > * { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.z-2:hover, .wufoo button:hover, .wufoo .button:hover, .wufoo input[type=submit]:hover, .wufoo input[type=button]:hover, .wufoo .submit:hover { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28); }


